# how to create pandas python dataframe

In [1]:
import pandas as pd

In [2]:
empty_df=pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [4]:
lst=['a','b','c']
print(lst)

['a', 'b', 'c']

In [5]:
df1=pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [6]:
df1

   0
0  a
1  b
2  c

In [8]:
lst_of_lst=[[1,2,3],[2,3,4],[4,5,6]]
print(lst_of_lst)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [10]:
df2=pd.DataFrame(lst_of_lst)
print(df2)

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [11]:
dict1={'ID':[1,2,3,4]}
dict1

{'ID': [1, 2, 3, 4]}

In [12]:
df3=pd.DataFrame(dict1)
print(df3)

   ID
0   1
1   2
2   3
3   4

In [15]:
dict1={'ID':[1,2,3,4],'SN':[1,2,3,4]}
print(dict1)

{'ID': [1, 2, 3, 4], 'SN': [1, 2, 3, 4]}

In [16]:
df3=pd.DataFrame(dict1)
df3

   ID  SN
0   1   1
1   2   2
2   3   3
3   4   4

In [17]:
lst_dict=[{'a':1,'b':2},{'a':3,'b':4}]
lst_dict

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]

In [18]:
df5=pd.DataFrame(lst_dict)
df5

   a  b
0  1  2
1  3  4

In [19]:
lst_dict=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]
df5=pd.DataFrame(lst_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [21]:
dict_sr={'ID':pd.Series([1,2,3]),'SN':pd.Series([111,222,333])}
df6=pd.DataFrame(dict_sr)
df6

   ID   SN
0   1  111
1   2  222
2   3  333