In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\Junaid Ahmed\\Downloads\\movies.csv')
df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [4]:
df.pivot_table(index='Genre')

TypeError: Could not convert Killers to numeric

In [5]:
df=pd.read_csv('C:\\Users\\Junaid Ahmed\\Downloads\\movies.csv')
df

,Film,Genre,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...
72,Across the Universe,romance,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,81,8.096000,87,$60.72,2009

In [6]:
df.pivot_table(index='Genre')

TypeError: Could not convert Killers to numeric

In [7]:
df=pd.read_csv('C:\\Users\\Junaid Ahmed\\Downloads\\movies.csv')
df

,Genre,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Romance,70,1.747542,64,$41.94,2008
1,Comedy,52,1.090000,68,$19.62,2010
2,Comedy,35,1.211818,43,$26.66,2010
3,Comedy,44,0.000000,15,$43.04,2010
4,Comedy,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...
72,romance,84,0.652603,54,$29.37,2007
73,Drama,64,4.382857,89,$30.68,2009
74,Drama,89,0.448645,79,$8.97,2011
75,Comedy,71,5.343622,40,$160.31,2008
76,comedy,81,8.096000,87,$60.72,2009

In [8]:
df.pivot_table(index='Genre')

TypeError: Could not convert $93.40  to numeric

In [9]:
df=pd.read_csv('C:\\Users\\Junaid Ahmed\\Downloads\\movies.csv')
df

,Genre,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Romance,70,1747541667,64,$41.94,2008
1,Comedy,52,109,68,$19.62,2010
2,Comedy,35,1211818182,43,$26.66,2010
3,Comedy,44,0,15,$43.04,2010
4,Comedy,72,6267647029,28,$219.37,2008
5,Drama,72,3081421053,60,$117.09,2011
6,Animation,89,2896019067,96,$521.28,2008
7,Romance,67,110897415,89,$22.18,2007
8,Romance,53,5,6,$0.03,2011

In [10]:
df.pivot_table(index='Genre')

TypeError: Could not convert $521.28  to numeric

In [11]:
df=pd.read_csv('C:\\Users\\Junaid Ahmed\\Downloads\\movies.csv')
df

       Genre  Audience score %  Profitability  Rotten Tomatoes %  Year
0    Romance                70     1747541667                 64  2008
1     Comedy                52            109                 68  2010
2     Comedy                35     1211818182                 43  2010
3     Comedy                44              0                 15  2010
4     Comedy                72     6267647029                 28  2008
5      Drama                72     3081421053                 60  2011
6  Animation                89     2896019067                 96  2008
7    Romance                67      110897415                 89  2007
8    Romance                53              5                  6  2011

In [12]:
df.pivot_table(index="Genre")

           Audience score %  Profitability  Rotten Tomatoes %         Year
Genre
Animation         89.000000   2.896019e+09               96.0  2008.000000
Comedy            50.750000   1.869866e+09               38.5  2009.500000
Drama             72.000000   3.081421e+09               60.0  2011.000000
Romance           63.333333   6.194797e+08               53.0  2008.666667

In [13]:
df.pivot_table(index="Genre",columns='Year')

          Audience score %                        Profitability                \
Year                  2007  2008       2010  2011          2007          2008
Genre
Animation              NaN  89.0        NaN   NaN           NaN  2.896019e+09
Comedy                 NaN  72.0  43.666667   NaN           NaN  6.267647e+09
Drama                  NaN   NaN        NaN  72.0           NaN           NaN
Romance               67.0  70.0        NaN  53.0   110897415.0  1.747542e+09

                                      Rotten Tomatoes %
Year               2010          2011              2007  2008  2010  2011
Genre
Animation           NaN           NaN               NaN  96.0   NaN   NaN
Comedy     4.039394e+08           NaN               NaN  28.0  42.0   NaN
Drama               NaN  3.081421e+09               NaN   NaN   NaN  60.0
Romance             NaN  5.000000e+00              89.0  64.0   NaN   6.0

In [14]:
df.pivot_table(index="Genre",columns='Year',aggfunc='mean')

          Audience score %                        Profitability                \
Year                  2007  2008       2010  2011          2007          2008
Genre
Animation              NaN  89.0        NaN   NaN           NaN  2.896019e+09
Comedy                 NaN  72.0  43.666667   NaN           NaN  6.267647e+09
Drama                  NaN   NaN        NaN  72.0           NaN           NaN
Romance               67.0  70.0        NaN  53.0   110897415.0  1.747542e+09

                                      Rotten Tomatoes %
Year               2010          2011              2007  2008  2010  2011
Genre
Animation           NaN           NaN               NaN  96.0   NaN   NaN
Comedy     4.039394e+08           NaN               NaN  28.0  42.0   NaN
Drama               NaN  3.081421e+09               NaN   NaN   NaN  60.0
Romance             NaN  5.000000e+00              89.0  64.0   NaN   6.0

In [15]:
df.pivot_table(index="Genre",columns='Year',aggfunc='sum')

          Audience score %                    Profitability                \
Year                  2007  2008   2010  2011          2007          2008
Genre
Animation              NaN  89.0    NaN   NaN           NaN  2.896019e+09
Comedy                 NaN  72.0  131.0   NaN           NaN  6.267647e+09
Drama                  NaN   NaN    NaN  72.0           NaN           NaN
Romance               67.0  70.0    NaN  53.0   110897415.0  1.747542e+09

                                      Rotten Tomatoes %
Year               2010          2011              2007  2008   2010  2011
Genre
Animation           NaN           NaN               NaN  96.0    NaN   NaN
Comedy     1.211818e+09           NaN               NaN  28.0  126.0   NaN
Drama               NaN  3.081421e+09               NaN   NaN    NaN  60.0
Romance             NaN  5.000000e+00              89.0  64.0    NaN   6.0

In [16]:
df.pivot_table(index="Genre",columns='Year',aggfunc='max')

          Audience score %                   Profitability                \
Year                  2007  2008  2010  2011          2007          2008
Genre
Animation              NaN  89.0   NaN   NaN           NaN  2.896019e+09
Comedy                 NaN  72.0  52.0   NaN           NaN  6.267647e+09
Drama                  NaN   NaN   NaN  72.0           NaN           NaN
Romance               67.0  70.0   NaN  53.0   110897415.0  1.747542e+09

                                      Rotten Tomatoes %
Year               2010          2011              2007  2008  2010  2011
Genre
Animation           NaN           NaN               NaN  96.0   NaN   NaN
Comedy     1.211818e+09           NaN               NaN  28.0  68.0   NaN
Drama               NaN  3.081421e+09               NaN   NaN   NaN  60.0
Romance             NaN  5.000000e+00              89.0  64.0   NaN   6.0

In [17]:
df.pivot_table(index="Genre",columns='Year',fill_value='none')

          Audience score %                        Profitability                \
Year                  2007  2008       2010  2011          2007          2008
Genre
Animation             none  89.0       none  none          none  2896019067.0
Comedy                none  72.0  43.666667  none          none  6267647029.0
Drama                 none  none       none  72.0          none          none
Romance               67.0  70.0       none  53.0   110897415.0  1747541667.0

                                          Rotten Tomatoes %
Year                   2010          2011              2007  2008  2010  2011
Genre
Animation              none          none              none  96.0  none  none
Comedy     403939430.333333          none              none  28.0  42.0  none
Drama                  none  3081421053.0              none  none  none  60.0
Romance                none           5.0              89.0  64.0  none   6.0

In [19]:
df.pivot_table(index="Genre",columns='Year',aggfunc='sum',margins=True)

          Audience score %                           Profitability  \
Year                  2007   2008   2010   2011  All          2007
Genre
Animation              NaN   89.0    NaN    NaN   89           NaN
Comedy                 NaN   72.0  131.0    NaN  203           NaN
Drama                  NaN    NaN    NaN   72.0   72           NaN
Romance               67.0   70.0    NaN   53.0  190   110897415.0
All                   67.0  231.0  131.0  125.0  554   110897415.0

                                                                  \
Year               2008          2010          2011          All
Genre
Animation  2.896019e+09           NaN           NaN   2896019067
Comedy     6.267647e+09  1.211818e+09           NaN   7479465320
Drama               NaN           NaN  3.081421e+09   3081421053
Romance    1.747542e+09           NaN  5.000000e+00   1858439087
All        1.091121e+10  1.211818e+09  3.081421e+09  15315344527

          Rotten Tomatoes %
Year                   2007   2008   2010  2011  All
Genre
Animation               NaN   96.0    NaN   NaN   96
Comedy                  NaN   28.0  126.0   NaN  154
Drama                   NaN    NaN    NaN  60.0   60
Romance                89.0   64.0    NaN   6.0  159
All                    89.0  188.0  126.0  66.0  469